{% extends "first/layout.html" %}

<h3> Welcome to Deli Ecommerce Website </h3>
 {% block body %}
     <div style="color:black;font-family:sans-serif">
        <h6>Hello Buddies..Yup! Thanks for choosing this website. This website deals with online product sale which also includes bidding .
        It provides an interface between seller and customer.It helps you in getting things done.
        You can refer to any of the products you like. Home page contains all the popular new items and also mostly searched products.
        Categories Provides you all the different attributes you can purchase. Else you can search the item in the search bar so that it makes your work easy.
        If you want to refer the product again you can add it to wishlist.If you want to buy the product
        you can add product to the cart. The products you ordered can be viewed in orders link.
        For more queries visit contacts</h6>
        <h6>Home tab: Contains all new products</h6>
        <h6>categories tab: Contains all product kinds</h6>
        <h6>wishlist tab: contains products that you are fond of</h6>
        <h6>Cart tab: contains product that you want to buy. Make sure that you can only add one item at a time </h6>
     </div>
 {% endblock %}