{% extends "first/layout2.html" %}


{% block body %}
    <div>
        <a href="#" class="twitter"><i  style="font-size:40px;" class="bi bi-twitter">Twitter:</i></a><br/>
        <a href="#" class="facebook"><i  style="font-size:40px;" class="bi bi-facebook">Facebook [Meta]:</i></a><br/>
        <a href="#" class="instagram"><i  style="font-size:40px;" class="bi bi-instagram">Instagram: abc</i></a><br/>
        <a href="#" class="linkedin"><i  style="font-size:40px;" class="bi bi-linkedin">LinkedIn:</i></a><br/>
        <!-- <a href="#" class="linkedin"><i  style="font-size:40px;"class="fa fa-envelope"></i>Email: sripriyagorrela@gmail.com</i></a> -->
      </div>
    
{% endblock %}