{% extends "auctions/layout2.html" %}
{%load static%}
{% block body %}

    <h2>New listing</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'create' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input style="width:250px;" class="form-control" autofocus type="text" name="Title" placeholder="Title">
        </div>
        <div class="form-group">
            <input style="width:250px;" class="form-control" type="text" name="Description" placeholder="Description">
        </div>
        <div class="form-group">
            <input style="width:250px;" class="form-control" type="image" name="ImageURL" placeholder="Image">
        </div>
        <div class="form-group">
            <input style="width:250px;" class="form-control" type="number" name="Startingbid" placeholder="Enter the starting bid value">
        </div>
        <div class="form-group">
           <select style ="height: 38px; width:250px;" class="form-select" aria-label="Default select example" name="category" >
              {% for category in list %}
                <option style="width:250px;" value="{{ category.id }}">{{ category.type }}</option>
             {% endfor %}
           </select>
        </div>
        <br/>
        <input class="btn btn-primary" type="submit" value="Register">
    </form>


{% endblock %}